{% include "header.html" %}



	<div class="container-fluid">
		<div class="row fh5co-post-entry single-entry">
			<article class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
				<figure class="col-md-12 animate-box">
					<img src="{{ cafe.img_url }}" alt="{{ cafe.name }} Image" class="img-responsive">
				</figure>
				<span class="fh5co-meta animate-box">Location: <strong class="custom_text">{{ cafe.location }}</strong></span>
				<h2 class="fh5co-article-title animate-box">{{ cafe.name }}</h2>
				<br>
				<span class="fh5co-meta animate-box"><a class="custom_text" href="{{ cafe.map_url }}">Cafe Direction Map Link</a></span>
				<br>

				<div class="col-md-12 animate-box">
					<div class="row criteria">
						<div class="col-md-6">
							<div class="animate-box cat">Has Wi-Fi: <strong>{{ cafe.has_wifi }}</strong></div>
						</div>
						<div class="col-md-6">
							<div class="animate-box cat">Has Power Sockets: <strong>{{ cafe.has_sockets }}</strong></div>
						</div>
						<div class="col-md-6">
							<div class="animate-box cat">Has Toilet Facilities: <strong>{{ cafe.has_toilet }}</strong></div>
						</div>
						<div class="col-md-6">
							<div class="animate-box cat">Can Take Calls: <strong>{{ cafe.can_take_calls }}</strong></div>

							<br>

						</div><div class="col-md-6">
							<div class="animate-box cat">Seats Available: <strong>{{ cafe.seats }}</strong></div>
						</div><div class="col-md-6">
							<div class="animate-box cat">Average Price of Coffee: <strong>{{ cafe.coffee_price }}</strong></div>
						</div>
					</div>
				</div>

			</article>
		</div>
	</div>


{% include "footer.html" %}

