

<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>To-Do List</title>

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
		<link href="{{ url_for('static', filename='/css/styles.css') }}" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	</head>

	<body>
		<section>
			<nav class="navbar navbar-primary bg-light">
				<div class="container-fluid">
					<a class="navbar-brand" href="{{ url_for('home_page') }}">
						<img src="{{ url_for('static', filename='images/task-list.png') }}" alt="Task Icon" width="30" height="25"
						     class="d-inline-block align-text-top ">
						To-Do's
					</a>
					<ul class="nav justify-content-end">
						<li class="nav-item">
							<a class="nav-link active" href="{{ url_for('login_page') }}">LOGIN</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="{{ url_for('register_page') }}">SIGN UP</a>
						</li>
					</ul>
				</div>
			</nav>
		</section>

