

{% extends 'bootstrap/base.html' %}
{% import bootstrap/wtf.html as wtf %}

{% block content %}
{% include 'header.html' %}


	<div class="card" style="width: 48rem;">
		<img src="{{url_for('static', filename='images/sign-up.png')}}" class="card-img-top"
		     alt="https://www.pngarts.com/explore/256694">
		<div class="card-body">
			<p class="card-text">{{ wtf.quick_form(register_form, novalidate=True, button_map={'submit': 'primary'}) }}</p>
		</div>
	</div>


{% include 'footer.html' %}
{% endblock %}

