

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Cafe List</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Curated cafe list details from London" />
	<meta name="keywords" content="cafe, list, london, blog, html5, css3, mobile first, responsive" />
	<meta name="author" content="MaHim" />

  <!--
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE
	DESIGNED & DEVELOPED by FREEHTML5.CO

	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->


<!--		&lt;!&ndash; Facebook and Twitter integration &ndash;&gt;-->
<!--		<meta property="og:title" content=""/>-->
<!--		<meta property="og:image" content=""/>-->
<!--		<meta property="og:url" content=""/>-->
<!--		<meta property="og:site_name" content=""/>-->
<!--		<meta property="og:description" content=""/>-->
<!--		<meta name="twitter:title" content="" />-->
<!--		<meta name="twitter:image" content="" />-->
<!--		<meta name="twitter:url" content="" />-->
<!--		<meta name="twitter:card" content="" />-->



	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='/favicon.ico') }}">
	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic|Roboto:400,300,700' rel='stylesheet' type='text/css'>
	<!-- Animate -->
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/animate.css') }}">
	<!-- Icomoon -->
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/icomoon.css') }}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.css') }}">

	<link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">


	<!-- Modernizr JS -->
	<script src="{{ url_for('static', filename='/js/modernizr-2.6.2.min.js') }}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{{ url_for('static', filename='/js/respond.min.js') }}"></script>
	<![endif]-->

	</head>

	<body>
	<div id="fh5co-offcanvas">
		<a href="#" class="fh5co-close-offcanvas js-fh5co-close-offcanvas"><span><i class="icon-cross3"></i> <span>Close</span></span></a>
		<div class="fh5co-bio">
			<figure>
				<img src="{{ url_for('static', filename='/images/blog_dp.png') }}" alt="Owner DP" class="img-responsive">
			</figure>
			<h3 class="heading">About Me</h3>
			<h2>Mahi-Bi Alam</h2>
			<p>Far-far away, in a small country named Bangladesh, there lives a curious mind. </p>
			<ul class="fh5co-social">
				<li><a href="https://twitter.com/mahim_nxt/" target="_blank"><i class="icon-twitter"></i></a></li>
				<li><a href="https://facebook.com/andrew.matt.543/" target="_blank"><i class="icon-facebook"></i></a></li>
				<li><a href="https://instagram.com/mahimnxt23/" target="_blank"><i class="icon-instagram"></i></a></li>
			</ul>
		</div>

		<div class="fh5co-menu">
			<div class="fh5co-box">
				<h3 class="heading">Cafe List Features</h3>
				<ul>
					<li>Wi-fi Availabilities</li>
					<li>Power Sockets Availabilities</li>
					<li>Toilet Facilities</li>
					<li>Can Take Calls</li>
					<li>Work Friendly Environment</li>
				</ul>
			</div>
			<div class="fh5co-box">
				<h3 class="heading">Search</h3>
				<form action="{{ url_for('search') }}" method="get">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Type a keyword" name="key">
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- END #fh5co-offcanvas -->


	<header id="fh5co-header">

		<div class="container-fluid">

			<div class="row">
				<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
				<ul class="fh5co-social">
					<li><a href="{{ url_for('add_cafe') }}" class="btn btn-primary">Add Cafe</a></li>
					<li><a href="https://twitter.com/mahim_nxt/" target="_blank"><i class="icon-twitter"></i></a></li>
					<li><a href="https://facebook.com/andrew.matt.543/" target="_blank"><i class="icon-facebook"></i></a></li>
					<li><a href="https://instagram.com/mahimnxt23/" target="_blank"><i class="icon-instagram"></i></a></li>
				</ul>
				<div class="col-lg-12 col-md-12 text-center">
					<h1 id="fh5co-logo"><a href="{{ url_for('home_page') }}">Cafe's List</a></h1>
				</div>

			</div>

		</div>

	</header>
	<!-- END #fh5co-header -->


