{% extends "bootstrap/base.html" %}

{% block styles %}
    {{super ()}}
    <link rel="stylesheet" href="#">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock %}

{% block title %} Stock Market watcher with API {% endblock %}

{% block content %}
<div class="container">
    <h1>Stock Market Data</h1>
    <p>Stock Ticker</p>
        <br>
        <form class="d-flex mb-3" method="GET" action="search">
            <input class="form-control me-6" type="search" placeholder="Example : AAPL" name="coin" >
            <button class="btn btn-outline success" type="submit">Find</button>
        </form>

    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th scope="col">Symbol</th>
          <th scope="col">Name</th>
          <th scope="col">Stock Exchange</th>
          <th scope="col">Stock Exchange (MIC)</th>
          <th scope="col">Country</th>
        </tr>
      </thead>
        {% for coin in coins: %}
      <tbody>
        <tr>
          <th scope="row">{{coin.symbol}}</th>
          <td>{{coin.name}}</td>
          <td>{{coin.stock_exchange['name']}}</td>
          <td>{{coin.stock_exchange['mic']}}</td>
          <td>{{coin.stock_exchange['country_code']}}</td>
        </tr>
      </tbody>
        {% endfor %}
    </table>
</div>
<div class="container">

</div>

{% endblock %}
