{% include "header.html" %}


	<div id="productDetailsPage"></div>

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="{{ url_for('homepage') }}"><i class="fa fa-home"></i> Home</a>
<!--                        <a href="#">Accessories </a>-->
                        <span>{{ item.name }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
	            <div class="col-12">
	                <!-- Notification Modal -->
					<div id="notificationModal" class="modal">
					    <div class="modal-content">
					        <p id="notificationMessage">Some error message...</p>
					        <span class="close">×</span>
					    </div>
					</div>
		        </div>
                <div class="col-lg-6">
                    <div class="product__details__pic">
	                      <a class="pt active" href="#">
                                <img src="/{{ item.image }}" alt="product pic">
	                      </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product__details__text">
                        <h3>{{ item.name }} <span>Brand: SKMEI</span></h3>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <span>( 138 ratings )</span>
                        </div>
                        <div class="product__details__price">$ {{ item.price }} <!-- <span>$ 83.0</span> --></div>


	                    {% if item.stock > 0: %}
                        <div class="product__details__button">
                            <div class="quantity">
                                <span>Quantity:</span>
                                <div class="pro-qty" data-item-id="{{ item.id }}">
                                    <input type="text" value="1">
                                </div>
                            </div>

	                        {% if this_user.is_authenticated: %}
	                        <div class="inline-notification"></div>
	                            <button type="button" onclick="update_cart({{ item.id }})" class="cart-btn"><span class="icon_bag_alt"></span> Add to cart</button>
	                            <ul>
	                                <li><a href="#"><span class="icon_heart_alt"></span></a></li>
	                            </ul>
	                        {% else: %}
	                        	<a href="{{ url_for('login_page') }}" class="cart-btn login-first"><span class="icon_bag_alt"></span></a>
	                        {% endif %}

                        </div>
                        <div class="product__details__widget">
                            <ul>
                                <li>
                                    <span>Availability:</span>
                                    <div>
	                                    <p class="stock-status">
		                                    In Stock.
		                                    <i class="items-left" data-item-id="{{ item.id }}">[{{ item.stock }} left!]</i>
	                                    </p>
                                    </div>
                                </li>
                                <li>
                                    <span>Promotions:</span>
                                    <p>Free shipping</p>
                                </li>
                            </ul>
                        </div>

	                    {% else: %}
	                    <div class="product__details__widget">
                            <ul>
                                <li>
                                    <span>Availability:</span>
                                    <div>
	                                    <p class="stock-status" style="color: red">Out of Stock!</p>
                                    </div>
                                </li>
                            </ul>
                        </div>

	                    {% endif %}

                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Description</a>
                            </li>
<!--                            <li class="nav-item">-->
<!--                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Specification</a>-->
<!--                            </li>-->
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Reviews ( 1 )</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <h6>Description</h6>
                                <p>{{ item.description }}</p>
                            </div>
<!--                            <div class="tab-pane" id="tabs-2" role="tabpanel">-->
<!--                                <h6>Specification</h6>-->
<!--                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed-->
<!--                                    quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret.-->
<!--                                    Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam-->
<!--                                    voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu-->
<!--                                    consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>-->
<!--                            </div>-->
                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                                <h6>Reviews ( 1 )</h6>
                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed
                                    quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret.
                                    Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% include "footer.html" %}


<!--                                        <label for="stockin">-->
<!--                                            In Stock-->
<!--                                            <input type="checkbox" id="stockin">-->
<!--                                            <span class="checkmark"></span>-->
<!--                                        </label>-->
