{% include "header.html" %}


	<div id="shopCartPage"></div>

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="{{ url_for('homepage') }}"><i class="fa fa-home"></i> Home</a>
                        <span>Shopping cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Cart Section Begin -->
    <section class="shop-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shop__cart__table">
                        <table>
                            <thead>
                                <tr>
	                            <th>Product</th>
	                            <th>Price</th>
	                            <th>Quantity</th>
	                            <th>Total</th>
	                            <th></th>
                            </tr>
                        </thead>
                            <tbody>
		                        {% for eshop_item in eshop_items: %}
	                                {% for cart_item in cart_items: %}
	                                    {% if cart_item.items_id == eshop_item.id %}
	                                        <tr>
			                                    <td class="cart__product__item">
			                                        <img src="/{{ eshop_item.image }}" alt="{{ eshop_item.name }}-product-image">
			                                        <div class="cart__product__item__title">
			                                            <h6>{{ eshop_item.name }}</h6>
			                                            <div class="rating">

				                                            {% for _ in range(5): %}
			                                                    <i class="fa fa-star"></i>
				                                            {% endfor %}

			                                            </div>
			                                        </div>
			                                    </td>
			                                    <td class="cart__price">$ {{ eshop_item.price }}</td>
			                                    <td class="cart__quantity">
			                                        <div class="pro-qty" data-item-id="{{ cart_item.id }}">
				                                        <span class="dec qtybtn">-</span>
			                                            <input type="text" value="{{ cart_item.quantity }}" readonly>
				                                        <span class="inc qtybtn">+</span>
			                                        </div>
			                                    </td>
			                                    <td class="cart__total">$ {{ (eshop_item.price) * (cart_item.quantity) }}</td>
			                                    <td class="cart__close"><span class="icon_close"></span></td>
	                                        </tr>

	                                    {% endif %}
	                                {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn">
                        <a href="{{ url_for('homepage') }}">Continue Shopping</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn update__btn">
                        <a href="{{ url_for('shop_cart') }}" id="update-cart-button"><span class="icon_loading"></span> Update cart</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="discount__content">
                        <h6>Discount codes</h6>
                        <form action="#" method="POST">
                            <input type="text" placeholder="Enter your coupon code" id="discount_code">
                            <button type="submit" class="site-btn">Apply</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-2">
                    <div class="cart__total__procced">
                        <h6>Cart total</h6>
                        <ul>
                            <li>Subtotal <span>$ {{ final_prices[0] }}</span></li>
	                        <li>Delivery Charge <span>$ {{ final_prices[1] }}</span></li>
	                        <li>Total <span>$ {{ final_prices[2] }}</span></li>
                        </ul>
                        <a href="#" class="primary-btn">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Cart Section End -->


{% include "footer.html" %}
